@font-face {
  font-family: MyFont;
  src: url("/font/terminal-grotesque.ttf") format("opentype");
}

@font-face {
  font-family: MyFont;
  font-weight: bold;
  src: url("/font/terminal-grotesque.ttf") format("opentype");
}
